.file-upload {
    border-radius: 5px;
    max-width: 400px;
    height: 70px;
    overflow: hidden;
    background: lightgray;
}

.thumbnail {
    height: 70px;
    width: 70px;
}

.info-container {
    padding-right: 10px;
}

.file-upload .file-name {
    height: 30px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    font-size: 16px;
    width: 60%;
}

.file-type {
    text-transform: uppercase;
}

.thumbnail .icon {
    background-color: darkgray;
    width: 70px;
    height: 70px;
}

.progress-bar {
    height: 7px;
    background-color: white;
    border-radius: 4px;
    width: 85%;
}

.progress-bar-fill {
    transition: width .2s linear;
    background-color: purple;
    height: 7px;
    border-radius: 4px;
}

.complete {
    font-size: 10px;
}